@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

div#app {
    width: 1024px;
    max-width: 100%;
    border: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}